[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.9"

[packages]
py-cord = "==2.2.0"
pillow = "*"
asyncpraw = "*"
markovify = "*"
web3 = "*"
aiohttp = "*"
arsenic = "*"
altair = "*"
altair-saver = "*"
selenium = "==4.2.0"
wordcloud = "*"
aiosqlite = "*"
