[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.9"

[packages]
requests = "*"
selenium = "*"
pillow = "*"
asyncpraw = "*"
markovify = "*"
py-cord = {version = "==2.0.0b7", extras = ["voice"]}
pynacl = "*"
youtube-dl = "*"
youtube-search-python = "*"

[scripts]
bot = "python3 bot.py"
